<a href="https://colab.research.google.com/github/spacemaninSeoul/justpractice/blob/main/python_zip().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. 2개의 리스트를 zip 하여 dict 생성
Location = ('US', 'Brazil', 'Russia', 'India', 'UK')
Cases = (2638086, 1370488, 647849, 566840, 311965)
Deaths = (128103, 58385, 9320, 16893, 43575)
covid19_top5 = list(zip(Location, Cases, Deaths))

for nation in covid19_top5:
	print(nation)

('US', 2638086, 128103)
('Brazil', 1370488, 58385)
('Russia', 647849, 9320)
('India', 566840, 16893)
('UK', 311965, 43575)

In [ ]:
import pandas as pd
df = pd.DataFrame(covid19_top5, columns = ['Nation', 'Cases', 'Deaths'])

print(df)

   Nation    Cases  Deaths
0      US  2638086  128103
1  Brazil  1370488   58385
2  Russia   647849    9320
3   India   566840   16893
4      UK   311965   43575

In [ ]:
#2. 여러 리스트 for loop 돌기
fruit = ['apple', 'banana', 'orange']
price = [500, 700, 200]

for (f, p) in zip(fruit, price):
	print (f, p)

apple 500
banana 700
orange 200

In [4]:
xy = [(1, 2, 3), (11, 12, 13), (21, 22, 23), (31, 32, 33)]
print(xy)

[(1, 2, 3), (11, 12, 13), (21, 22, 23), (31, 32, 33)]

In [5]:
txy = list(zip(xy[0], xy[1], xy[2], xy[3]))
print(txy)

[(1, 11, 21, 31), (2, 12, 22, 32), (3, 13, 23, 33)]