<a href="https://colab.research.google.com/github/spacemaninSeoul/justpractice/blob/main/Python_practice_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#입력
number = input("정수 입력> ")
number = int(number)

#양수 조건
if number > 0:
  print("양수입니다")

#음수 조건
if number < 0:
  print("음수입니다")

#0 조건
if number == 0:
  print("0입니다")

정수 입력> 4
양수입니다

In [ ]:
#날짜/시간과 관련된 기능 가져오기
import datetime

#현재 시간/날짜
now = datetime.datetime.now()

print(now.year, "년")

print("{}년 {}월 {}일 {}시 {}분 {}초".format(
    now.year,
    now.month,
    now.day,
    now.hour,
    now.minute,
    now.second
))

2021 년
2021년 7월 25일 5시 59분 34초

In [ ]:
#in 문자열 연산자를 활용해서 짝수와 홀수 구분
# 입력
number = input("정수 입력> ")
last_character = number[-1]

#짝수조건
if last_character in "02468":
  print("짝수입니다")

#홀수조건
if last_character in "13579":
  print("홀수입니다")

정수 입력> 123
홀수입니다

In [ ]:
#리스트 요소 제거. del과 pop
list_a = [0, 1, 2, 3, 4 ,5]
print("# 리스트의 요소 하나 제거하기")

#del
del list_a[1]
print("del list_a[1]:", list_a)

list_a.pop(2)
print("pop(2):", list_a)

# 리스트의 요소 하나 제거하기
del list_a[1]: [0, 2, 3, 4, 5]
pop(2): [0, 2, 4, 5]

In [ ]:
#모두 제거하기 clear
list_d = [0, 1, 2, 3, 4 ,5]
list_d.clear()
list_d

[]

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if number > 99:
    print("- 100 이상의 수:", number)

- 100 이상의 수: 273
- 100 이상의 수: 103
- 100 이상의 수: 800

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if number%2 == 0:
    print("{}은 짝수입니다.".format(number))
  else:
    print("{}은 홀수입니다.".format(number))

273은 홀수입니다.
103은 홀수입니다.
5은 홀수입니다.
32은 짝수입니다.
65은 홀수입니다.
9은 홀수입니다.
72은 짝수입니다.
800은 짝수입니다.
99은 홀수입니다.

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  number = str(number)
  print("{}는 {}자릿수 입니다".format(number, len(number)))
  number = float(number)

273는 3자릿수 입니다
103는 3자릿수 입니다
5는 1자릿수 입니다
32는 2자릿수 입니다
65는 2자릿수 입니다
9는 1자릿수 입니다
72는 2자릿수 입니다
800는 3자릿수 입니다
99는 2자릿수 입니다

In [ ]:
list_of_list = [
  [1, 2, 3],
  [4, 5, 6, 7],
  [8, 9]
]

for i in list_of_list:
  for j in (i):
    print(j)

1
2
3
4
5
6
7
8
9

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8 ,9]
output = [[], [], []]

for number in numbers:
  output[(number+2) % 3 ].append(number)

print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#키가 존재하는지 확인하고 값에 접근하기
dictionary = {
    "name": "7D 건조 망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

key = input("> 접근하고자 하는 키: ")

if key in dictionary:
  print(dictionary[key])
else:
  print("존재하지 않는 키에 접근하고 있습니다.")

> 접근하고자 하는 키: name
7D 건조 망고

In [ ]:
#get() 함수
dictionary = {
    "name": "7D 건조 망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

value = dictionary.get("name")
print("값:", value)

값: 7D 건조 망고

In [ ]:
pets = [
        {"name": "구름", "age": 5},
        {"name": "초코", "age": 3},
        {"name": "아지", "age": 1},
        {"name": "호랑이", "age": 1}
]

print("# 우리 동네 애완 동물들")
for key in pets:
  print(key["name"], "{}살".format(key["age"]))

# 우리 동네 애완 동물들
구름 5살
초코 3살
아지 1살
호랑이 1살

In [ ]:
numbers = [1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter = {}

for number in numbers:
  if number in counter:
    counter[number] = counter[number] + 1
  else:
    counter[number] = 1

print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [ ]:
character = {
    "name": "기사",
    "level": 12,
    "items": {
        "sword": "불꽃의 검",
        "armor": "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
  if type(character[key]) is dict:
    for small_key in character[key]:
      print(small_key, ":", character[key][small_key])
  elif type(character[key]) is list:
    for item in character[key]:
      print(key, ":", item)
  else:
    print(key, ":", character[key])

name : 기사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기